<!doctype html>
<html>
<head>

<title>Cargo check-ins</title>

<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-latest.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.tablesorter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-twipsy.js"></script>
<style type="text/css">
 body {
       background-color: #20502F;
  }
  
table
.header:after {
	border-top-width: 0px;
	border-right-width: 6px;
	border-left-width: 6px;
	border-bottom-width: 8px;
	visibility: visible;
	opacity: 0.3;
}
th.headerSortUp { 
		    background-color: #F5F5F5; 
}
table
.headerSortUp:after {
	border-left-width: 6px;
	border-right-width: 6px;
	border-top-width: 8px;
	opacity: 1.0;
	-khtml-opacity: 1.0;
}
table
.headerSortDown { 
		    background-color: #F5F5F5; 
		    opacity: 1.0;
		}

table
.headerSortDown:after { 
		    background-color: #F5F5F5; 
		    opacity: 1.0;
		    -khtml-opacity: 1.0;
		}
table
.headerSortDown:hover:after { 
		    background-color: #F5F5F5; 
		    opacity: 1.0;
		    -khtml-opacity: 1.0;
}
table 
.header:hover:after {
	opacity: 1.0;	
}
</style>
<script type="text/javascript" >
function clearField(id)
{
	document.getElementById(id).value='';
}

function updatePage() {
	  // Call the server to get some data ...
	  
	 // if (test>0) {
		  //document.getElementById('test').innerHTML = '<h2>'+test+'</h2>';
	//  }
	//  test = test+1;
	  
	  $.get("/cargo/checkin/", function(data) {
		  //append data to list
		  //alert("RETURNED:" + data);
		  var items = [];
		  var json = (jQuery.parseJSON(data));
		  var new_checkin = '';
		  var user_credit = '';
		  var date = '';
		  var tag = '';
		  var location  = '';
		  var reader = '';
		  var reader_credit = '';
		  var group_average = '';
		  if (json!=null) {
			  for (var i=0; i<json.length; i++) {
				  if(i%2==0) {
					  date = json[i].fields.checkin_date;
					  tag = json[i].fields.rfid;
					  location = json[i].fields.location;
					  reader = json[i].fields.name;
					  reader_credit = json[i].fields.reader_credit;
					  user_credit = json[i].fields.user_credit;
					  group_average = json[i].fields.group_average;
					  new_checkin='<div class="well" style="background-color:#EEE" id="'+date+'"><p>';
				  }
				  else if (i%2==1) {
					  var name = json[i].fields.name;
					  var credit = json[i].fields.credit;
					  var alias = json[i].fields.alias;
					  var group = json[i].fields.group;
					  new_checkin +='<strong>'+name+'</strong> (tag '+tag+' "'+alias+'", group '+group+', group average: '+group_average+') checked in at <strong>'+reader+ '</strong>('+location+') at: '+date+'. <strong>New credit: '+user_credit+'</strong>. Reader credit now: '+reader_credit+'.</p></div>';
					  items.push(new_checkin);
				  }
			  }
			  if (new_checkin != '') {
				  document.getElementById('checkins').innerHTML = items+document.getElementById('checkins').innerHTML;
				  var element = document.getElementById(date);	
				  element.FadeTimeLeft = 500.0;
				  var eid = date;
				  setTimeout("animateFade(" + new Date().getTime() + ",'" + eid + "')", 33);
			  }
			  //$("#checkins").html(items);
			  
		  }
	  });
	  
	  var t = setTimeout("updatePage()", 1000);
}
var TimeToFade = 500.0;

function animateFade(lastTick, eid)
{  
  var curTick = new Date().getTime();
  var elapsedTicks = curTick - lastTick;
  
  var element = document.getElementById(eid);
 
  if(element.FadeTimeLeft <= elapsedTicks)
  {
    element.style.opacity = '1';
    element.style.filter = 'alpha(opacity = 100)';
    return;
  }
 
  element.FadeTimeLeft -= elapsedTicks;
  var newOpVal = element.FadeTimeLeft/TimeToFade;
  newOpVal = 1 - newOpVal;

  element.style.opacity = newOpVal;
  element.style.filter = 'alpha(opacity = ' + (newOpVal*100) + ')';
  
  setTimeout("animateFade(" + curTick + ",'" + eid + "')", 33);
}



$(function() {
	$("table#checkinTable").tablesorter({ 
		//sortList: [[1,0]],
		// extract data from markup and return it  
		textExtraction: function(node) { 
			id = node.id;
			toSort = '';
			if (id == 'group_col') {
				 toSort = node.childNodes[0].firstChild.innerHTML;
			}
			if (id == 'player_col') {
				 toSort = node.childNodes[0].firstChild.innerHTML;
			}
			if (id == 'credit_col') {
				 toSort = node.childNodes[0].firstElementChild.innerHTML;		
				// toSort = toSort.substring(15).trim();
			}
			if (id == 'group_avg_col') {
				 toSort = node.childNodes[0].firstElementChild.innerHTML;		
				// toSort = toSort.substring(15).trim();
			}
			if (id == 'location_col') {
				 toSort = node.childNodes[0].firstElementChild.innerHTML;		
				// toSort = toSort.substring(2).trim();
			}
			if (id == 'reader_credit_col') {
				 toSort = node.childNodes[0].firstElementChild.innerHTML;		
				// toSort = toSort.substring(2).trim();
			}
			if (id == 'date_col') {
				 toSort = node.childNodes[0].firstElementChild.innerHTML;		
				// toSort = toSort.substring(2).trim();
			}
            return toSort; 
        }
	})
});

</script>

</head>

<body onload="updatePage()">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/cargo/index">cargo</a>
          <ul class="nav">
            <li><a href="/cargo/checkin" class="active">Check-ins</a></li>  
            <li><a href="/cargo/calls">Calls</a></li>  
            <li><a href="/cargo/registration">Registration</a></li>
            <li><a href="/cargo/setup">Set up tags</a></li>  
          </ul>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>            
          {%if user %}
         	{%if user.is_authenticated %}
           	 <li><a href="#">Logged in as {{user}}</a></li>
           	 <li class="divider-vertical"></li>
           	 <li><a href="/cargo/logout">Log out</a></li>
          	{%else%}
          	<li><a href="/cargo/login">Sign up | Log in</a></li>
          	{%endif%} 
          {%endif%}
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
	 <div class="content">
      <div class="hero-unit" align="left">
       <div class="page-header">
        <h1>check-ins</h1>
       </div>
       
       <!-- placeholder for data passed via jQuery -->
 	   <div id="checkins">
 	   </div>
       
       <!-- load data passed in from view 
       {%if all_checkins%}
      
       {%for checkin in all_checkins%}
       	{%for user in all_users%} 
       		{%if user.rfid = checkin.rfid%}
       <div class="well" style="background-color:#EEE">
        <p><strong>{{user.name}}</strong> (tag {{checkin.rfid}} "{{user.alias}}", group {{user.group}}, average: {{checkin.group_average|floatformat:1}}) checked in at <strong>{{checkin.name}}</strong>({{checkin.location}}) at {{checkin.checkin_date}}. <strong>New credit: {{checkin.user_credit}}</strong>. New reader credit: {{checkin.reader_credit}}.  
        </p>        
       </div>
       	{%endif%}
       	{%endfor%}  
       {%endfor%}
       {%else%}
        <div><h2>Watch this space for check ins.</h2></div>
       {%endif%}
       -->
 	  
 	  <table class="table table-striped" id="checkinTable">
   		<thead>
    	<tr> 
     		<th><a rel='twipsy' title='Click to sort by group'><div><h3>Group</h3></div></a></th>
     		<th><a rel='twipsy' title='Click to sort by player'><div><h3>Player</h3></div></a></th>
     		<th><a rel='twipsy' title='Click to sort by credit'><div><h3>Credit</h3></div></a></th>
     		<th><a rel='twipsy' title='Click to sort by group average'><div><h3>Group average</h3></div></a></th>
     		<th><a rel='twipsy' title='Click to sort by location'><div><h3>Location</h3></div></a></th>
     		<th><a rel='twipsy' title='Click to sort by reader credit left'><div><h3>Reader credit</h3></div></a></th>
     		<th><a rel='twipsy' title='Click to sort by time'><div><h3>Time</h3></div></a></th>
    	</tr>
   		</thead>
   		<tbody>
   		{%for checkin in all_checkins%}
   			{%for user in all_users%}
   				{%if user.rfid = checkin.rfid%}
   		<tr>
   			<td id="group_col"><div><h4>{{user.group}}</h4></div></td>
   			<td id="player_col"><div><h4>{{user.name}} ({{user.alias}})</h4></div></td>
   			<td id="credit_col"><div><h4>{{checkin.user_credit}}</h4></div></td>
   			<td id="group_avg_col"><div><h4>{{checkin.group_average|floatformat:1}}</h4></div></td>
   			<td id="location_col"><div><h4>{{checkin.name}}</h4></div></td>
   			<td id="reader_credit_col"><div><h4>{{checkin.reader_credit}}</h4></div></td>
   			<td id="date_col"><div><h4>{{checkin.checkin_date}}</h4></div></td>
   		</tr>
   		  		{%endif%}
   		  	{%endfor%}
   		 {%endfor%}
   		</tbody>
   		</table>
 	  
 	  
 	   </div>
 	 </div>
		
		
     <footer align="center">
        <a rel='twipsy' title='Orchid' href="http://www.orchid.ac.uk">
         <img src="{{STATIC_URL}}images/orchid-logo-bw-small.gif" alt="Orchid Project"/>
         </a>
        <p><small>&copy; 2012.</small> 
       </p>
     </footer>
        
        
    </div>
 </body>
</html>

