<!doctype html>
<html>
<head>

<title>Cargo checkins</title>

<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-latest.js"></script>
<style type="text/css">
 body {
       background-color: #20502F;
  }
</style>
<script type="text/javascript" >
function clearField(id)
{
	document.getElementById(id).value='';
}

var test = 0;
function updatePage() {
	  // Call the server to get some data ...
	  
	 // if (test>0) {
		  //document.getElementById('test').innerHTML = '<h2>'+test+'</h2>';
	//  }
	//  test = test+1;
	  
	  $.get("/checkin/", function(data) {
		  //append data to list
		  //alert("RETURNED:" + data);
		  var items = [];
		  var json = (jQuery.parseJSON(data));
		  var test = json;
		  if (json!=null) {
			  for (var i=0; i<json.length; i++) {
				  var date = json[i].fields.checkin_date;
				  var tag = json[i].fields.rfid;
				  var location = json[i].fields.location;
				  items.push('<div><h2>TagId: '+tag+', Location: '+location+ ', Time: '+date +'</h2></div>');
			  }
			  //$("#checkins").html(items);
			  document.getElementById('checkins').innerHTML += items;
		  }
	  });
	  
	  var t = setTimeout("updatePage()", 500);
	
}
</script>

</head>

<body onload="updatePage()">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/index">cargo</a>
          <ul class="nav">
            <li><a href="/checkin" class="active">RFID</a></li>  
            <li><a href="/calls">Calls</a></li>  
            <li><a href="/registration">Registration</a></li>  
          </ul>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>            
          {%if user %}
         	{%if user.is_authenticated %}
           	 <li><a href="#">Logged in as {{user}}</a></li>
           	 <li class="divider-vertical"></li>
           	 <li><a href="./logout">Log out</a></li>
          	{%else%}
          	<li><a href="./login">Sign up | Log in</a></li>
          	{%endif%} 
          {%endif%}
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
	 <div class="content">
      <div class="hero-unit" align="left">
       <div class="page-header">
        <h1>checkins</h1>
       </div>
       
       <!-- load data passed in from view -->
       {%for checkin in all_checkins%}
       <div>
        <h2>TagId: {{checkin.rfid}},  Location: {{checkin.location}}, Time: {{checkin.checkin_date}}</h2>
       </div>
       {%endfor%}
 
 	   <!-- placeholder for data passed via jQuery -->
 	   <div id="checkins">
 	   </div>
 	  </div>
 	 </div>
		
		
     <footer align="center">
        <a rel='twipsy' title='Orchid' href="http://www.orchid.ac.uk">
         <img src="{{STATIC_URL}}images/orchid-logo-bw-small.gif" alt="Orchid Project"/>
         </a>
        <p><small>&copy; 2012.</small> 
       </p>
     </footer>
        
        
    </div>
 </body>
</html>

