{% extends "cargoapp/base.html" %}

{% block title %}
<title>Cargo</title>
{% endblock %}

{%block content%}

<div class="hero-unit" align="left">

 <div class="page-header">
  <h1>cargo</h1>
 </div>
 <div>
  <h2>  Welcome to cargo authoring. </h2>
  <h3>1. <a href="/cargo/admin/">Set up</a> the readers.</h3>
  <p>In the admin pages, create 'locations'.</p>
  <h3>2. <a href="/cargo/setup/">Set up</a> some tags.</h3>
  <p>Using the set up reader, scan tags and assign an alias to each tag.</p>
  <h3>3. <a href="/cargo/registration/">Register</a> players.</h3>
  <p>Record players details and assign a tag to each player.</p>
  <h3>4. <a href="/cargo/checkin/">Observe</a> players checking in.</h3>
  <p>Once the game started, go to <a href="/cargo/checkin/">check ins</a> to keep an eye on what's happening.</p>
  <h3>5. <a href="/cargo/calls/">Trigger</a> phone calls.</h3>
  <p>Once you observe a certain check in, go to <a href="/cargo/calls/">calls</a> to trigger specific phone calls to players.</p>
 </div>

 
 

</div>

 {% endblock %}
